<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/56005bce-7576-41b5-b516-8554b0d4c1b6/resourcegroups/ArHack23/providers/Microsoft.Web/sites/ArHack2320230904145536</ResourceId>
    <ResourceGroup>ArHack23</ResourceGroup>
    <ApiResourceId>/subscriptions/56005bce-7576-41b5-b516-8554b0d4c1b6/resourceGroups/ArHack23/providers/Microsoft.ApiManagement/service/ArHack23apis/apis/ArHack23</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://arhack2320230904145536.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>90f3f5ae-1f43-4fca-a453-1459b286f8c7</ProjectGuid>
    <MSDeployServiceURL>arhack2320230904145536.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ArHack2320230904145536</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ArHack2320230904145536</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>